h1{
    text-align: center; 
    border-bottom: solid 5px #5d627b;
}
#textbox{
    background-color: #e0e0e0;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin-right:  5%;
    margin-left: 5%;
}
p {
    color: black
}
#periodic-table{
    background-color: #e0e0e0;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right:  5%;
    margin-left: 5%;
}
table{
    margin: auto;
    border: solid 3px black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    table-layout: fixed;
    width: 90%; 
    background-color: #e0e0e0;
}
#tr1 {
    background-color: #5d627b;
    color: white;
}
#th1 {
    background-color: #5d627b;
    color: white;
}
th{
    font-size: 2vw;
}
#none {
    background-color: white;
}
#disable {
    background-color: #5d627b;
}

